
.header {
    display:flex;
    align-items: center;
    background-color: #EEEEEE;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}


.header .brand {
    flex-basis: 50%;
}


.header .brand a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}


.header .actions {
    flex-basis: 50%;
    display:flex ;
    justify-content: space-between;
}


@media only screen and (min-width:600px){
    
    
    .header {
        padding: 10px 70px;
    }
    
    .header .actions {
        flex-basis: 25%;
    }
}






/*    
   Error
*/

.error {
     width:100%;
     color:red;
     text-align: center;
}


/*


*/
.product-info {
     display: flex;
     flex-direction: column;
}